@model SBAdminMVC_Core.NET.Models.Cliente

@{
	ViewData["Title"] = "Create";
}

<!-- Content Row -->

<div class="row">

	<!-- Area Chart -->
	<div class="col-md-6 offset-md-3">
		@*<div class="col-xl-8 col-lg-4">*@
		<div class="card shadow mb-4">
			<!-- Card Header - Dropdown -->
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Clientes</h6>
				@*<div class="dropdown no-arrow">
				<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
				</a>
				<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
				aria-labelledby="dropdownMenuLink">
				<div class="dropdown-header">Dropdown Header:</div>
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Something else here</a>
				</div>
				</div>*@
			</div>
			<div class="col-md-12">
				<form asp-action="AddOrEdit" autocomplete="off">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>		
					<input type="hidden" asp-for="ClienteId" />
					<div class="form-group">
						<label asp-for="Nombres" class="control-label"></label>
						<input asp-for="Nombres" class="form-control" />
						<span asp-validation-for="Nombres" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Apellidos" class="control-label"></label>
						<input asp-for="Apellidos" class="form-control" />
						<span asp-validation-for="Apellidos" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Celular" class="control-label"></label>
						<input asp-for="Celular" class="form-control" />
						<span asp-validation-for="Celular" class="text-danger"></span>
					</div>
					<div class="row mt-2">
						<div class="col-md-6">
							<div class="form-group">
								<input type="submit" value="Crear" class="btn btn-primary w-100" />
							</div>
						</div>
						<div class="col-md-6">
							<div>
								<a asp-action="Index" class="btn btn-secondary w-100">Lista de clientes</a>
							</div>
						</div>
					</div>					
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
